.single-stat
{

  --padding:3px;
  --margin-separator:1px;
  --statname-size : 35%;
  display:flex;
  position: relative;
  margin-top:var(--margin-separator);;
}
.single-stat:last-of-type
{
  margin-bottom: var(--margin-separator);
}
.single-stat::before
{
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid black;
  border-radius: 3px;
  opacity: 0.7;
}

.single-stat-name
{
    display: flex;
    font-weight: bold;
    width:20ch;
    text-transform: uppercase;
}
.single-stat-name::after{ content: ":"; margin-left: auto;}

.single-stat div { position: relative; }
.single-stat div::after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: min(var(--size-percent), 100%);
  background-color: var(--bar-color);
  opacity: 0.5;
}
