.single-stat
{

  --padding:3px;
  --margin-separator:1px;
  --statname-size : 35%;
  display: grid;
  grid-template-columns: var(--statname-size)  calc(100% - var(--statname-size) );
  position: relative;
  margin-top:var(--margin-separator);;
}
.single-stat:last-of-type
{
  margin-bottom: var(--margin-separator);
}

.single-stat::before
{
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid black;
  border-radius: 3px;
  opacity: 0.7;
}

.single-stat span{display: flex; font-weight: bold; text-transform: uppercase;}
.single-stat span::after{ content: ":"; margin-left: auto;}

.single-stat div
{
  position: relative;
}

.single-stat div::after
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--size-percent);
  background-color: var(--bar-color);
  opacity: 0.5;
}
