<div class="app-stat-up-gui">
  <div class="stat">
    <app-character-stat
      [statName]="'strenght'"
      [statValue]="coreStats.strenght"
      [maxValue]="maxCoreStats.strenght"
    ></app-character-stat>
    <app-number-spinner
      [min]="character.coreStats.strenght"
      [value]="coreStats.strenght"
      [max]="maxCoreStats.strenght"
      [showInput]="false"
      [disableUp]="upgradePoints===0"
      (SpinnerChangedEvent)="updateStat($event,'strenght')"
    ></app-number-spinner>
  </div>
  <div class="stat">
    <app-character-stat
      [statName]="'stamina'"
      [statValue]="coreStats.stamina"
      [maxValue]="maxCoreStats.stamina"
    ></app-character-stat>
    <app-number-spinner
      [min]="character.coreStats.stamina"
      [value]="coreStats.stamina"
      [max]="maxCoreStats.stamina"
      [showInput]="false"
      [disableUp]="upgradePoints===0"
      (SpinnerChangedEvent)="updateStat($event,'stamina')"
    ></app-number-spinner>
  </div>
  <div class="stat">
    <app-character-stat
      [statName]="'aim'"
      [statValue]="coreStats.aim"
      [maxValue]="maxCoreStats.aim"
    ></app-character-stat>
    <app-number-spinner
      [min]="character.coreStats.aim"
      [value]="coreStats.aim"
      [max]="maxCoreStats.aim"
      [showInput]="false"
      [disableUp]="upgradePoints===0"
      (SpinnerChangedEvent)="updateStat($event,'aim')"
    ></app-number-spinner>
  </div>
  <div class="stat">
    <app-character-stat
      [statName]="'speed'"
      [statValue]="coreStats.speed"
      [maxValue]="maxCoreStats.speed"
    ></app-character-stat>
    <app-number-spinner
      [min]="character.coreStats.speed"
      [value]="coreStats.speed"
      [max]="maxCoreStats.speed"
      [showInput]="false"
      [disableUp]="upgradePoints===0"
      (SpinnerChangedEvent)="updateStat($event,'speed')"
    ></app-number-spinner>
  </div>
  <div class="stat">
    <app-character-stat
      [statName]="'intelligence'"
      [statValue]="coreStats.intelligence"
      [maxValue]="maxCoreStats.intelligence"
    ></app-character-stat>
    <app-number-spinner
      [min]="character.coreStats.intelligence"
      [value]="coreStats.intelligence"
      [max]="maxCoreStats.intelligence"
      [showInput]="false"
      [disableUp]="upgradePoints===0"
      (SpinnerChangedEvent)="updateStat($event,'intelligence')"
    ></app-number-spinner>
  </div>
  <div>
    remainint points: {{upgradePoints}}
  </div>
</div>
