<div class="app-description-switch" *ngIf="section.section_items.length > 0">
  <div class="name" *ngIf="section.type==='name'">
    <p *ngFor="let item of section.section_items">{{ item.value }}</p>
  </div>
  <div class="description" *ngIf="section.type==='description'">
    <pre *ngFor="let item of section.section_items">{{ item.value }}</pre>
  </div>
  <div class="label" *ngIf="section.type==='label'">
    <p *ngFor="let item of section.section_items">
      {{ item.name }}:{{ item.value }}
    </p>
  </div>
  <div class="list" *ngIf="section.type==='list'">
    <p>{{  section.name  }}:</p>
    <ul>
      <li *ngFor="let item of section.section_items">
        {{ item.name }}:{{ item.value }}
      </li>
    </ul>
  </div>
  <div class="sequence" *ngIf="section.type==='sequence'">
    <p>{{ section.name }}:</p>
    <ul>
      <li *ngFor="let item of section.section_items">
        {{ item.value }}
      </li>
    </ul>
  </div>
</div>
