.app-description-switch{
  --padding:0;
}
.app-description-switch *{
  margin: 0;
}
:is(.list){
    padding-bottom: 10px;
}
:is(.list) ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 25ch;
    justify-items: space-between;
}
:is(.list) li{
    width: 10ch;
}
.name p{
  font-weight: bold;
  font-style: italic;
}
