.app-shop-gui {
  display: flex;
}
.app-shop-gui>div{height:100%;}
.app-shop-gui_shop-sale,
.app-shop-gui_shop-data {
  width: 20%;
}

.app-shop-gui_shop-interface {
  width: 60%;
  flex-grow: 1;
}

.app-shop-gui_shop-data {
  width: 20%;
  padding: 1em;
  overflow: hidden;
}
