<div class="double-border user">
  <div>{{ partyMember.name }}</div>
  <app-character-stat [statName]="'hp'" [statValue]="partyMember.stats.hitpoints" [maxValue]="partyMember.originalstats.hitpoints" [barColor]="'cyan'"></app-character-stat>
  <app-character-stat [statName]="'energy'" [statValue]="partyMember.stats.energypoints"></app-character-stat>
  <div class="status-wrapper double-border">
    <app-status-icon *ngFor="let status of getCharacterStatus()"
      [status]="status"></app-status-icon>
  </div>
</div>
