.user,.status-wrapper{--padding:10px;}
.status-wrapper
{
  --status-size:1.3rem;
  margin-top: 5px;
  flex-wrap: wrap;
  column-gap: 5px;
  display: flex;
  height: var(--status-size);
  flex-direction: row;
  flex-direction: row-reverse;
  flex-grow: 1;
}

app-status-icon:nth-child(n+5) { display: none; }
