.equiped-equipment{
  display: flex;
  align-items: center;
  position: relative;
}

.equipment-description{
  left: -100%;
}

.equipment-name
{
  display: inline-block;
  width:60%;
}
.btn-unequip
{
  width:40%;
}
