<div class="app-gui color-1">
  <div class="app-gui-up">
    <div *ngIf="currentGameState === 'map'" class="color-2">
      <app-map-gui></app-map-gui>
    </div>
    <div *ngIf="currentGameState === 'battle'" class="color-2">
      <app-battle-gui></app-battle-gui>
    </div>
    <div *ngIf="currentGameState === 'item'" class="color-2">
      <app-item-gui></app-item-gui>
    </div>
    <div *ngIf="currentGameState === 'shop'">
      <app-shop-gui></app-shop-gui>
    </div>
    <div *ngIf="currentGameState === 'status'" class="color-2">
      <app-status-gui></app-status-gui>
    </div>
  </div>
  <div class="app-gui-down color-3">
    <app-description-options></app-description-options>
  </div>
</div>
