.app-gui
{
  inset:0;
  position:absolute;
  display: flex;
  background-color : blue;
  flex-direction: column;
}
.full-page,.divided-gui{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.full-page>div{ flex-grow: 1; }
.app-gui-up,
.app-gui-down
{
  width: 100%;
}
.app-gui-up
{
  flex-grow: 1;
}
.app-gui-down
{
  height:20%;
}
.app-gui-up>div
{
  height: 100%;
}
