.app-gui
{
  height: 100%;
  display: flex;
  background-color : blue;
  flex-direction: column;
}
.app-gui-up,
.app-gui-down
{
  width: 100%;
}
.app-gui-up
{
  flex-grow: 1;
}
.app-gui-down
{
  height:30%;
}
.app-gui-up>div
{
  height: 100%;
}
