:root
{
  --background-1:#1b2f33;
  --background-2:#1E3237;
  --background-3:#21353A;
  --background-4:#263B40;
  --background-5:#30464C;
  --background-6:#455C64;
  --color-1:#83969D;
  --color-2:#83969D;
  --color-3:#83969D;
  --color-4:#83969D;
  --color-5:#83969D;
  --color-6:#83969D;
}
