<div class="shop-interface" (mouseover)="unsetItem($event)" (mouseout)="unsetItem($event)">
  <fieldset class="shop-section">
    <legend>shop</legend>
    <div class="inventory-wrapper">
      <div class="inventory">
        <ul class="inventory-list">
          <li class="initial-inventory" *ngFor="let item of shop.shopInventoryAfterSale" [ngClass]="{'disabled': item.amount === 0}">
            <app-shop-item [item]="item" (ShopItemEvent) = "shopSellItem($event)"></app-shop-item>
          </li>
          <li class="sale-inventory" *ngFor="let item of shop.sale.items2Shop">
            <app-shop-item [item]="item" (ShopItemEvent) = "shopRemoveBuyItem($event)"></app-shop-item>
          </li>
        </ul>
      </div>
    </div>
    <app-number-spinner (SpinnerChangedEvent)="setShopAmount($event)"
      [spinnerType]="'horizontal'"
      [initialValue]="shopAmount">
    </app-number-spinner>
  </fieldset>
  <fieldset class="player-section">
    <legend>{{ player.name }}</legend>
    <div class="inventory-wrapper">
      <div class="inventory">
        <ul class="inventory-list">
          <li class="initial-inventory" *ngFor="let item of shop.getCharacterInvetoryAfterSale(player)" [ngClass]="{'disabled': item.amount === 0}">
            <app-shop-item [item]="item" (ShopItemEvent)="shopBuyItem($event)"></app-shop-item>
          </li>
          <li class="sale-inventory" *ngFor="let item of shop.sale.items2Character" [ngClass]="{'overflow': shop.doesCharacterInventoryOverflows(player),'sale-inventory': true}">
            <app-shop-item [item]="item"
              (ShopItemEvent)="shopRemoveSellItem($event)"></app-shop-item>
          </li>
        </ul>
      </div>
    </div>
    <app-number-spinner
      (SpinnerChangedEvent)="setUserAmount($event)"
      [spinnerType]="'horizontal'"
      [initialValue]="playerAmount">
    </app-number-spinner>
  </fieldset>
</div>
