.app-gui-option,
.app-gui-option button
{
  display: inline-block;
  height:100%;
  width:100%;
}
.app-gui-option{position: relative;}

.option-description
{
  padding: 5px;
  position:absolute;
  bottom:100%;
  opacity: 0;
  pointer-events:none;
}

.app-gui-option:hover .option-description
{
  opacity: 1;
}
