<div class="shop-data-component double-border">
  <div class="shop-data-items" *ngIf="!currentItem">
    <div class="shop-data-items-list-wrapper">
      <div class="shop-data-items-list-wrapper-innter">
        <ul class="shop-data-items-list">
          <li *ngFor="let item of shop.shopItems">
            <app-shop-data-item [item]="item"></app-shop-data-item>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="shop-data-current-" *ngIf="currentItem">
    <p class="name">{{ currentItem.name }}</p>
    <p class="description">{{ currentItem.description }}</p>
    <p class="price">{{ currentItem.basePrice }}</p>
  </div>
</div>
