<div class="shop-data-component double-border">
  <!-- TODO  add shop items with price -->
  <div class="shop-data-items" *ngIf="!currentItem">
    <div class="shop-data-items-list-wrapper">
      <div class="shop-data-items-list-wrapper-innter">
        <ul class="shop-data-items-list">
          <li *ngFor="let item of shop.shopItems">
            <app-shop-data-item [item]="item"></app-shop-data-item>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- TODO  add item hovered -->
  <div class="shop-data-current-" *ngIf="currentItem">
    <p>{{ currentItem.name }}</p>
    <p>{{ currentItem.description }}</p>
    <p>{{ currentItem.basePrice }}</p>
  </div>
</div>
