.app-tab-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.content {
  --padding:5px;
  --fill:calc(100% - var(--padding)*2);
  height:var(--fill);
  width:var(--fill);
  overflow-y: auto;
}

.tab-element {
  padding: 0 0.6rem;
  border: 1px solid black;
  border-top-left-radius: 0.7em;
}

.tab-element:last-child {
  margin-left: 0;
}

.tab-element.active {
  z-index: 1;
}

.content {
  flex-grow: 1;
}
