.user
{
  display: flex;
  flex-direction:column;
  padding: 15px;
}

.character-name
{
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.stats
{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.status
{
  display: flex;
  padding: 10px;
  margin-top: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  column-gap: 10px;
}
