<div class="user" *ngIf="character">
  <div class="name hp">
    <div class="character-name">{{ character.name }}</div>
    <app-character-stat [statName]="'hp'" [statValue]="character.current_energy_stats.hitpoints" [maxValue]="character.energy_stats.hitpoints" [barColor]="'cyan'"></app-character-stat>
    <app-character-stat [statName]="'energy'" [statValue]="character.current_energy_stats.energypoints" [maxValue]="character.energy_stats.energypoints"></app-character-stat>
  </div>
  <div class="stats border">
    <app-character-stat [statName]="'attack'" [statValue]="character.core_stats.strenght"></app-character-stat>
    <app-character-stat [statName]="'aim'" [statValue]="character.core_stats.aim"></app-character-stat>
    <app-character-stat [statName]="'defence'" [statValue]="character.core_stats.stamina"></app-character-stat>
    <app-character-stat [statName]="'speed'" [statValue]="character.core_stats.speed"></app-character-stat>
    <app-character-stat [statName]="'evasion'" [statValue]="character.core_stats.intelligence"></app-character-stat>
  </div>
  <div class="experience">
    <app-user-experience></app-user-experience>
  </div>
  <div class="status border">
    <app-status-icon *ngFor="let status of getCharacterStatus()" [status]="status"></app-status-icon>
  </div>
</div>
