.user
{
  display: flex;
  padding:0;
  height: 100%;
  width: 100%;
  flex-direction:column;
}

.character-name,
.stats,
.status{--padding:10px;}

.character-name
{
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.stats
{
  display: flex;
  flex-direction: column;
}

.status
{
  flex-wrap: wrap;
  column-gap: 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
