<div class="user" *ngIf="character">
  <div class="name hp double-border">
    <div class="character-name">{{ character.name }}</div>
    <app-character-stat [statName]="'hp'" [statValue]="character.currentCoreStats.hitpoints" [maxValue]="character.coreStats.hitpoints" [barColor]="'cyan'"></app-character-stat>
    <app-character-stat [statName]="'energy'" [statValue]="character.currentCoreStats.energypoints" [maxValue]="character.coreStats.energypoints"></app-character-stat>
  </div>
  <div class="stats double-border">
    <app-character-stat [statName]="'attack'" [statValue]="character.original_stats.strenght"></app-character-stat>
    <app-character-stat [statName]="'aim'" [statValue]="character.original_stats.aim"></app-character-stat>
    <app-character-stat [statName]="'defence'" [statValue]="character.original_stats.stamina"></app-character-stat>
    <app-character-stat [statName]="'speed'" [statValue]="character.original_stats.speed"></app-character-stat>
    <app-character-stat [statName]="'evasion'" [statValue]="character.original_stats.intelligence"></app-character-stat>
  </div>
  <div class="status double-border">
    <app-status-icon *ngFor="let status of getCharacterStatus()" [status]="status"></app-status-icon>
  </div>
</div>
