.app-map
{
  display: flex;
  height: 90%;
  flex-direction: column;
}

.map-wrapper
{
  --square-size: 16px;
  width: 100%;
  min-width: 90px;
  max-height: calc( var(--square-size) * 6 );
  margin-top: var(--square-size);
  overflow: hidden;
}

.row-wrapper
{
  width: max-content;
  height: var(--square-size);
}

.app-map-square
{
  display: inline-block;
  height: var(--square-size) !important;
  width : var(--square-size) !important;
  display: inline-block;
  position: relative;
}

.walkspace
{
  position: absolute;
  inset:0;
  display:flex;
  justify-content:center;
  align-items: center;
  outline:  1px solid black;
}

.walkspace::after
{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 80%;
  transform:  translate(-50%, -50%);
  border:  1px solid black;
}

.walkspace.current::before
{
  content: "";
  position: absolute;
  inset: 0;
  background-color:black;
  opacity: 0.2;
}

.app-map-time-wrapper
{
  margin: auto;
}

.wasd
{
  --move-keyboard-size :30px;
  margin: auto;
  margin-bottom: 20px;
  display: grid !important;
  grid-template-columns: auto auto auto;
  width: calc(var(--move-keyboard-size) * 3) !important;
  height: calc(var(--move-keyboard-size) * 2) !important;
}

.wasd div
{
  height : var(--move-keyboard-size);
  width  : var(--move-keyboard-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-key]
{
  position:relative;
  border:  1px solid black;
}

[data-key]::before
{
  content: attr(data-key);
  pointer-events:none;
}

