.app-gui-option-wrapper
{
  --padding:0;
  flex-wrap: wrap;
  display: flex;
  height: 100%;
}
.app-gui-option
{
  width: calc(100%/7);
  height:calc(100%/3);
  flex-grow: 1;
}
.app-gui-option button
{
  display: inline-block;
  height:100%;
  width:100%;
  margin: 0.2rem 0;
}
@media screen and (max-width: 660px){
  button
  {
    font-size: 0.6em;
  }
}
