<div class="app-equipment-on-character">
  <div class="melee"><app-equiped-equipment [equipment]="character.characterEquipment.meleeWeapon" (equipment_emitter)="unequip_meele()"></app-equiped-equipment></div>
  <div class="range"><app-equiped-equipment [equipment]="character.characterEquipment.rangedWeapon" (equipment_emitter)="unequip_ranged()"></app-equiped-equipment></div>
  <div class="shield"><app-equiped-equipment [equipment]="character.characterEquipment.shield" (equipment_emitter)="unequip_shield()"></app-equiped-equipment></div>
  <div class="armor"><app-equiped-equipment [equipment]="character.characterEquipment.armor" (equipment_emitter)="unequip_armor()"></app-equiped-equipment></div>
</div>
