/* You can add global styles to this file, and also import other style files */

body{
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  margin: 0 !important;
  border:  20px solid black;
}

.disabled,:disabled
{
  opacity: 0.3;
}

.double-border
{
  padding: 10px;
  position: relative;
}
.double-border::before
{
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid black;
}
.double-border::after
{
  content: "";
  position: absolute;
  inset: 3px;
  border: 1px solid black;
}
