/* You can add global styles to this file, and also import other style files */
:root
{
  --scroll-width:0.7em;
}

body{
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  margin: 0 !important;
  border:  20px solid black;
}

.disabled,:disabled
{
  opacity: 0.3;
}

div
{
  padding:var(--padding);
  width:calc(100% - var(--padding)*2);
}

.border,.double-border
{
  padding: var(--padding);
  position: relative;
}
.border::before,.double-border::before
{
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid black;
}
.double-border::after
{
  content: "";
  position: absolute;
  inset: 3px;
  border: 1px solid black;
}

::-webkit-scrollbar {
  width: var(--scroll-width);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-left: calc(var(--scroll-width) / 4) solid transparent;
  border-right: calc(var(--scroll-width) / 4) solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

::before,::after { pointer-events: none; }

button
{
  background:inherit;
  filter: brightness(0.8);
}

div.display-on-hover-description{
  --padding:5px;
  position: absolute;
  width:max-content;
  display:none;
  pointer-events:none;
  z-index: 100;
}
:hover > div.display-on-hover-description
{
  display:unset;
}
